/* import font */

@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}


/* khôi phục lại cỡ chữ mặc định theo rem */

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

 :root {
    /* color */
    --white-color: #fff;
    --dark-color: black;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #f3f4f5;
    --medium-grey-color: #ccc;
    /* font-size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    /* Font  weight */
    --font-weight-n: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    /* Side max width    */
    --site-max-width: 1300px;
}

header {
    background-color: var(--primary-color);
}

header .nav-bar {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    width: 100%;
    max-width: var(--site-max-width);
    margin: 0 auto;
}

header ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
}

img {
    width: 100%;
}

.nav-bar .nav-logo .logo-text {
    color: var(--white-color);
}

.nav-bar .nav-menu {
    display: flex;
}

.nav-bar .nav-menu .nav-link {
    color: var(--white-color);
    padding: 10px 18px;
    border-radius: var(--border-radius-m);
}

.nav-bar .nav-menu .nav-link:hover {
    background-color: var(--secondary-color);
}